/* Fuentes */
$baseFontFamily : 'Raleway', sans-serif;
$headerFontFamily :  'Montserrat', sans-serif;

/* Colores */
$colorPrimario: #00473e;
$colorSecundario: #faae2b;
$colorTerciario: #fa5246;
$colorgreen: #2cb67d;
$blanco: #fff;
$colorText : #000;

/* Tamaño Encanbezados */
$h1: 3.2rem;
$h2: 2.5rem;
$h3: 1.9rem;
$h4: 1.6rem;
$h5: 1.4rem;
$h6: 1.2rem;

/* Tamaño Textos */
$smallSize: .9rem;
$normalSize: 1.6rem;
$normal2Size: 2rem;
$normal3Size: 2.2rem;
$normal4Size: 2.5rem;
$mediumSize: 3rem;
$largeSize: 3.3rem;
$large2Size: 3.5rem;
$hugeSize: 5.6rem;

/*Grosor Fuentes */
$light: 300;
$normal: 400;
$bold: 700;
$superBold: 900;

/* Media Querys */
$s: 320px;
$m: 481px;
$l: 768px;
$xl: 992px;
$hd: 1200px;

/*Separaciones */

$separacion: 5rem;