.galery {
    padding: $separacion / 2;
    h3 {
        text-align: center;
        text-transform: uppercase;
        padding: 0 0 $separacion / 2 0
    }
}
.galery__card {
    @include m {
        @include grid(4, $separacion / 2);
    }
    @include l {
        @include grid(6, $separacion / 2)
    }
}

.galery__card img {
    width: 100%;
    padding-bottom: 1rem;
}

.overlay-fixed {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    top: 0;
    display: grid;
    place-items: center;
    transition: all .5s ease;
}

.boton-cerrar {
    height: 5rem;
    width: 5rem;
    background-color: $blanco;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: $bold;
    border-radius: 50%;
    cursor: pointer;
}


body.fijar {
    overflow: hidden;
}