.header {
    background-color:  $colorPrimario;
    padding: 2rem;

    @include m {
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &.fijo {
        position: fixed;
        width: 100%;
        transition: all 0.5s ease;
        box-shadow: 0 .3rem .4rem #444;
    }
}

.logo__text {
    text-align: center;
    margin-bottom: 1rem;
    color: $blanco;
    display: none;

    @include m {
        margin-bottom: 0%;
        display: block;
    }
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.nav__item {
    font-size: 2rem;
    color: $blanco;
}

