.hero {
    position: relative;
    max-height: 70rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
   
}

.hero__video video {
    height: 90vh;

    @include m {
        display: block;
        height: 100%;
    }
} 

.hero__content {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 1;

    h2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $blanco;
        @include m {
            font-size: $hugeSize;

        }

        span {
            background-color: $colorTerciario;
            padding: 1rem;
            margin-top: 1rem;
            border-radius: .5rem;
            font-size: $normalSize;
            @include m {
                font-size: $normal3Size;
            }
        }
    }

    @include l {
        justify-content: flex-start;
    }

    
}



